
name: Build Samina Fashion APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Updated to v4
      - name: set up JDK 17
        uses: actions/setup-java@v4 # Updated to v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Node.js
        uses: actions/setup-node@v4 # Updated to v4
        with:
          node-version: 20 # Updated to 20
      - name: Install Dependencies
        run: |
          npm install
          npx cap add android
      - name: Build Android Project
        run: npx cap copy android
      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4 # Updated to v4
        with:
          name: Samina-Fashion-App
          path: android/app/build/outputs/apk/debug/app-debug.apk
